name: Docker Image CI

on:
  workflow_dispatch

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: Build the Docker image
      run: bash build_pscadf2c.sh
    - name: run container
      run: |
         bash run_pscadf2c.sh -n function
                              -s distribution_grid.f
                              -d transpiled_output.c
                              -v distribution_grid_pins.csv
    - name: upload
      uses: actions/upload-artifact@v3
      with:
        name: c_code
        path: transpiled_output.c
